<%= render "navbar" %>

<section id="main-heading">
  <h1>Hi, I'm Manami.<br> I love creating websites.</h1>
  <%=image_tag("sunflower.jpg", alt: "sunflower", :class => "top-image" )%>
</section>

<section>
  <h2>About Me</h2>
  <p>My name is Manami Davidson, a recent graduate of a 12 week bootcamp in front end web development and now taking another tech course to learn more about IT industry. Outside of the course, I am currently teaching myself React and Ruby on Rails.</p>
  <p>My love of learning helps me develop my knowledge and skills further every day.</p> 
</section>
<section>
  <h2>Technology</h2>
  <p>HTML | CSS | Bootstrap | Git | Github | Javascript | React | Ruby on Rails | WordPress | SEO</p>
</section>


<section  id="projects">
  <h2>Projects</h2>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active"> 
        <a href="https://manami-davidson.netlify.app/">
          <img src="<%= image_url('portfolio.png')%>"class="d-block w-100" alt="portfolio">
          <div class="carousel-caption d-none d-md-block">
            <h5>Portfolio Website</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://github.com/manami-d/Weather-API">
          <img src="<%= image_url('weatherapi.png') %>" class="d-block w-100" alt="weather api">
          <div class="carousel-caption d-none d-md-block">
            <h5>Weather API</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://jwd4-todolist-app.netlify.app/">
          <img src="<%= image_url('todoapp.png') %>" class="d-block w-100" alt="to do list app">
          <div class="carousel-caption d-none d-md-block">
            <h5>To Do List App</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
          </a>
      </div>
      <div class="carousel-item">
        <a href="https://recipe-website-bootstrap.netlify.app/">
          <img src="<%= image_url('recipewebsite.png') %>" class="d-block w-100" alt="to do list app">
          <div class="carousel-caption d-none d-md-block">
            <h5>Recipe Website</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
          </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<%= render "contact" %>

<%= render "footer" %>